    
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&display=swap'); */
.Carousal-main{
    height: 120vh;
}

.carousel-heading{
    /* font-family: 'Kanit', sans-serif; */
    color: black;
    text-align: center;
    padding-bottom: 5%;
    padding-top: 2%;
    text-decoration: none;
    text-transform: uppercase;
    
}
.carousel-heading h1 {
    font-size: 3rem;
}

.carousel{
    width: 60%;   
    margin-left: 21%; 
    
}
.news1{
    height: 800px;
}
.news2{
    height: 800px;
}
.news3{
    height: 800px;
}
.news4{
    height: 800px;
}


