  @import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');     
  @import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');       

.benefits{
    margin: 3%;
    margin-top: 0%;
}


.benefits p{
    font-size: 22px;
    font-family: 'Varela', sans-serif;
}
.benefits p a{
  text-decoration: none;
}
.benefits h2 {
  /* padding: 5%; */
  text-align: center;
  margin: 5%;
  font-size: 3rem;
}